$grey_color: #f3efe4;
$olive_color: #757f3c;
$orange_color: #e8930c;

//font colors
$olive_font_color: #4a4f2a;
$light_olive_font_color: #757f3c;
$olive_grey_font_color: #a3a78b;
$orange_font_color: #c4b07a;
$dark_grey_font_color: #414141;
$grey_font: #828282;
