.main_menu {
  padding: 5px 15px 25px 0;

  @media all and (max-width: 844px) {
    padding-right: 0;
  }

  float: left;

  p {
    padding-left: 40px;
    margin: 0;

    color: $orange_font_color;
    font: 11px/36px 'proxima_nova_rgbold', 'Verdana', sans-serif;

    @media all and (min-width: 767px) and (max-width: 991px) {
      font: 10px/34px 'proxima_nova_rgbold', 'Verdana', sans-serif;
    }

    @media all and (min-width: 544px) and (max-width: 766px) {
      font: 9px/32px 'proxima_nova_rgbold', 'Verdana', sans-serif;
    }

    @media all and (max-width: 543px) {
      font: 8px/26px 'proxima_nova_rgbold', 'Verdana', sans-serif;
    }

    .fa {
      padding-right: 7px;
    }
  } // end of p

  ul {
    padding-top: 10px;

    li > a {
      font: 16px/14px 'proxima_nova_rgbold', 'Verdana', sans-serif;

      @media all and (min-width: 767px) and (max-width: 991px) {
        font: 14px/12px 'proxima_nova_rgbold', 'Verdana', sans-serif;
      }

      @media all and (min-width: 544px) and (max-width: 766px) {
        font: 12px/10px 'proxima_nova_rgbold', 'Verdana', sans-serif;
      }

      @media all and (max-width: 543px) {
        font: 10px/8px 'proxima_nova_rgbold', 'Verdana', sans-serif;
      }

      color: $olive_font_color;

      border-right: 1px solid $olive_font_color;
      display: block;
      padding-left: 25px;
      padding-right: 25px;
    }

    li:last-child > a {
      border-right: 0;
    }
  }

  .navbar-collapse {
    padding: 0;

    @media all and (max-width: 767px) {
      overflow-x: hidden !important;

      ul > li > a {
        border-right: none;
        border-bottom: 1px solid $olive_font_color;
      }

      ul > li:last-child > a {
        border-bottom: 0;
      }
    }
  } // end of .navbar-collapse
}
// end of .main_menu

.account_menu {
  padding: 5px 0 25px 15px;
  float: right;

  ul {
    li > a {
      font: 12px/10px 'proxima_nova_rgbold', 'Verdana', sans-serif;
      color: $dark_grey_font_color;

      margin-top: 14px;
      margin-bottom: 10px;

      border-right: 1px solid $dark_grey_font_color;
      display: block;
      padding-left: 6px;
      padding-right: 6px;
    }

    li:last-child > a {
      border-right: 0;
    }
  } // end of ul

  .input-group {
    width: 252px;
    padding-right: 2px;
  }
}  // end of .account_menu

.left_menu {
  padding-bottom: 35px;
  padding-left: 0;

  float: left;

  .sidebar-module {
    ol > li {
      font: 14px/24px 'proxima_nova_rgbold', 'Verdana', sans-serif;

      @media all and (min-width: 544px) and (max-width: 767px) {
        font: 12px/22px 'proxima_nova_rgbold', 'Verdana', sans-serif;
      }

      @media all and (max-width: 543px) {
        font: 10px/20px 'proxima_nova_rgbold', 'Verdana', sans-serif;
      }

      i {
        padding-right: 25px;
      }
    }

    a {
      color: $olive_font_color;
    }
  } // end of .sidebar-module

  .input-group {
    width: 163px;
  }
} // end of .left_menu